<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <link rel="shortcut icon" href="../public/images/favicon.ico" />
</head>
<body>
    <div class="wrapper">
    <div class="content">
        <%- include("./header.html") %>
        <br>
        <p class="aligncenter">
            <img src="..\public\images\aaa.jpeg" width = "250%" height = "100%" alt="logo">
        </p>

        <br><br>
        <div id="intro">
            <p class="intro">
                Valorant (стилизовано как VALORANT) — многопользовательская компьютерная игра, разработанная и издаваемая компанией Riot Games.
                Valorant является первой игрой Riot Games в жанре шутер от первого лица.
                Изначально игра была анонсирована под названием Project A в октябре 2019 года, анонсирована уже под текущим названием 1 марта 2020 года и выпущена для игроков 2 июня 2020 года.
            </p>
            <p class="intro">
                По задумке разработчиков, игра является противостоянием двух команд по пять игроков, каждый из них играет в роли «агентов» с особенными способностями,
                которые либо покупаются перед началом раунда, либо зарабатываются в процессе матча.
                Например, у каждого героя есть абсолютное умение, которое можно использовать только после его зарядки.
                Зарядка может осуществляться несколькими способами: при убийстве другого игрока, при смерти, установке/обезвреживании бомбы или при захвате специальной сферы,
                которые появляются в определённых местах карты в начале каждого раунда.
                В ассортименте оружия игры есть нож, пистолеты, дробовики, пистолеты-пулеметы, пулеметы, автоматы и снайперские винтовки.
            </p>
        </div>
    
    </div>
    <%- include("./footer.html") %>
    </div>
</body>
</html>
